<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>Addres</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <app-data-cell></app-data-cell>
            </td>
            <td>
                <app-data-cell></app-data-cell>
            </td>
            <td>
                <app-data-cell></app-data-cell>
            </td>
            <td>
                <app-data-cell></app-data-cell>
            </td>
            <td>
                <app-data-cell></app-data-cell>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-info">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>